/*thông tin ca nhân*/
*{
	margin:0;
	padding:0;
	font-family: Arial,Helvetica, sans-serif;
	background-color:#1B4F93;
	color:white ;
	
	padding: 20px ;
	background: linear-gradient(to right, #103667,#426EB4);
	
	}
	.box {
      margin-top: 25px;
      padding: 30px;
      border-radius: 20px;
      background: rgba(85, 124, 231, 0.507);
      display: inline-block;
      text-align:justify;
      margin: 10px 20px;
 }